@import url("https://fonts.googleapis.com/css?family=Montserrat:300,400,500,600,700|Roboto:300,400,500,700");
@import url("https://fonts.googleapis.com/css?family=Open+Sans:400,400i,600,700");
@font-face {
  font-family: "GothamRnd-Book";
  font-style: normal;
  font-weight: normal;
  src: local("GothamRnd-Book"),
    url("../fonts/gotham/GothamRnd-Book.otf") format("opentype");
}

@font-face {
  font-family: "GothamRnd-Medium";
  font-style: normal;
  font-weight: normal;
  src: local("GothamRnd-Medium"),
    url("../fonts/gotham/GothamRnd-Medium.otf") format("opentype");
}

@font-face {
  font-family: "GothamRnd-Bold";
  font-style: normal;
  font-weight: normal;
  src: local("GothamRnd-Bold"),
    url("../fonts/gotham/GothamRnd-Bold.otf") format("opentype");
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none !important;
  color: inherit;
  cursor: pointer;
}

h1, h2, h3 {
  font-family: 'GothamRnd-Medium', sans-serif;
  color: #555;
}

p, a {
  font-family: 'GothamRnd-Book', sans-serif;
}

ul,
nav {
  list-style: none;
}

ul.grid {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.generos {
  padding: 100px 200px 100px;
}

.generos .grid li.small {
  flex-basis: 40%;
}
.generos .grid li.large {
  flex-basis: 60%;
}
.generos .grid li {
  padding: 20px;
  height: 350px;
  border-radius: 3px;
  background-clip: content-box;
  background-size: cover;
  background-position: center;
  background-color: #333;
}

.btn-header {
  padding: 18px;
  background: #fff;
  color: tomato;
  border-radius: 40px;
  transition: border-radius 80ms;
}
.btn-header:hover {
  padding: 18px;

  /* border: solid 2px #fff; */
  background: tomato;
  color: #fff;
  border: solid 2px #fff !important;
  border-radius: 10px;
  transition: border-radius 80ms;
}

footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  color: #fff;
  background-color: #414a4f;
  padding: 60px 0;
}

footer ul {
  display: flex;
  margin-bottom: 25px;
  font-size: 32px;
}

footer ul li {
  margin: 0 8px;
}

footer ul li:first-child {
  margin-left: 0;
}

footer ul li:last-child {
  margin-right: 0;
}

footer p {
  text-transform: uppercase;
  font-size: 14px;
  color: rgba(255, 255, 255, 0.6);
  margin-bottom: 10px;
}

footer p a {
  color: #fff;
}
